.form-control label,
.form-control input {
    display: block;
    width: 100;

}

.form-control input {
    border: 1px solid #0f3b67;
    font: inherit;
    border-radius: 2px;
    margin: 1rem;
}

.product-form {
    width: 15rem;
    max-width: 90%;
    margin: 1rem auto;
}

/* .main-header__item a :hover,
            .main-header__item a :active {
                color: rgb(195, 60, 202);
            } */

button {
    font: inherit;
    border: 1px solid rgb(26, 76, 177);
    background: rgb(123, 200, 224);
    border-radius: 3px;
    cursor: pointer;

}

button:hover,
button:active {
    background-color: rgb(160, 76, 160);
    color: white;
}